* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #334e64;
    font-family: 'montserrat', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(20deg, #ff2844, #6741ff);
}

.profile-container {
    position: relative;

    background-color: #fff;
    width: 350px;
    padding: 100px 50px 40px;
    border-radius: 12px;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}