* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #334e64;
    font-family: 'montserrat', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(20deg, #ff2844, #6741ff);
}

.profile-container {
    position: relative;
    background-color: #fff;
    width: 350px;
    padding: 100px 50px 40px;
    border-radius: 12px;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container{
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 5px solid #b92a76;
    border-radius: 50%;
    box-shadow: 0 8px 55px #b92a76a4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-container img{
    width: 100%;
    max-width: 100%;
    transform: scale(1,1);
}